# local dataset

CoNSeP/*
MoNuSeg/*
savers_pl/*

# training results

inference/*
output/*
VorHoVerNet_training/*
*.ckpt
*.pt
*.pkl
*.npy

# test script

test.py
model/hover_net.py
opt.py
config.py
train.py
compare.py
inference.py
dataset_iter.py
no_gpu_need.lsf
train.sh
